* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

@keyframes wipe-enter {
  0% {
    transform: scale(0, .025);
  }
  50% {
    transform: scale(1, .025);
  }
}

div {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.lettris-name {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }

.alphabet-info-A {
  text-align: center;
  display: inline-block;
  border: outset;
  background-color: hsl(13, 69%, 50%);
}

.alphabet-info-Z {
    text-align: center;
    display: inline-block;
    border: outset;
    background-color: hsl(273, 20%, 50%);
}

.instructions, .stats {
    font-style: italic;
    text-align: center;
    font-size: larger;
    color: white;
  }

.center {
  margin: auto;
}

[class*="square"] {
  text-align: center;
  color: white;
}

[class*="selected-filled"] {
  border: inset;
}

[class*="unselected-filled"] {
  border: outset;
}

.selected-filled-square-A {
  background-color: hsl(13, 69%, 80%);
}
.unselected-filled-square-A {
  background-color: hsl(13, 69%, 50%);
}

.selected-filled-square-B {
  background-color: hsl(193, 47%, 80%);
}
.unselected-filled-square-B {
  background-color: hsl(193, 47%, 50%);
}

.selected-filled-square-C {
  background-color: hsl(341, 31%, 80%);
}
.unselected-filled-square-C {
  background-color: hsl(341, 31%, 50%);
}

.selected-filled-square-D {
  background-color: hsl(347, 90%, 80%);
}
.unselected-filled-square-D {
  background-color: hsl(347, 90%, 50%);
}

.selected-filled-square-E {
  background-color: hsl(240, 60%, 80%);
}
.unselected-filled-square-E {
  background-color: hsl(240, 60%, 57%);
}

.selected-filled-square-F {
  background-color: hsl(55, 37%, 80%);
}
.unselected-filled-square-F {
  background-color: hsl(55, 37%, 50%);
}

.selected-filled-square-G {
  background-color: hsl(168, 46%, 80%);
}
.unselected-filled-square-G {
  background-color: hsl(168, 46%, 50%);
}

.selected-filled-square-H {
  background-color: hsl(24, 97%, 80%);
}
.unselected-filled-square-H {
  background-color: hsl(24, 97%, 50%);
}

.selected-filled-square-I {
  background-color: hsl(143, 61%, 80%);
}
.unselected-filled-square-I {
  background-color: hsl(143, 61%, 50%);
}

.selected-filled-square-J {
  background-color: hsl(84, 50%, 80%);
}
.unselected-filled-square-J {
  background-color: hsl(84, 50%, 50%);
}

.selected-filled-square-K {
  background-color: hsl(19, 19%, 80%);
}
.unselected-filled-square-K {
  background-color: hsl(19, 19%, 50%);
}

.selected-filled-square-L {
  background-color: hsl(167, 31%, 80%);
}
.unselected-filled-square-L {
  background-color: hsl(167, 31%, 50%);
}

.selected-filled-square-M {
  background-color: hsl(252, 36%, 80%);
}
.unselected-filled-square-M {
  background-color: hsl(252, 36%, 50%);
}

.selected-filled-square-N {
  background-color: hsl(205, 27%, 80%);
}
.unselected-filled-square-N {
  background-color: hsl(205, 27%, 50%);
}

.selected-filled-square-O {
  background-color: hsl(295, 77%, 80%);
}
.unselected-filled-square-O {
  background-color: hsl(295, 77%, 50%);
}

.selected-filled-square-P {
  background-color: hsl(354, 46%, 80%);
}
.unselected-filled-square-P {
  background-color: hsl(354, 46%, 50%);
}

.selected-filled-square-Q {
  background-color: hsl(336, 91%, 80%);
}
.unselected-filled-square-Q {
  background-color: hsl(336, 91%, 50%);
}

.selected-filled-square-R {
  background-color: hsl(270, 75%, 80%);
}
.unselected-filled-square-R {
  background-color: hsl(270, 75%, 50%);
}

.selected-filled-square-S {
  background-color: hsl(23, 17%, 80%);
}
.unselected-filled-square-S {
  background-color: hsl(23, 17%, 50%);
}

.selected-filled-square-T {
  background-color: hsl(83, 51%, 80%);
}
.unselected-filled-square-T {
  background-color: hsl(83, 51%, 50%);
}

.selected-filled-square-U {
  background-color: hsl(117, 20%, 80%);
}

.unselected-filled-square-U {
  background-color: hsl(117, 20%, 50%);
}

.selected-filled-square-V {
  background-color: hsl(8, 88%, 80%);
}
.unselected-filled-square-V {
  background-color: hsl(8, 88%, 50%);
}

.selected-filled-square-W {
  background-color: hsl(181, 71%, 80%);
}
.unselected-filled-square-W {
  background-color: hsl(181, 71%, 50%);
}

.selected-filled-square-X {
  background-color: hsl(252, 48%, 80%);
}
.unselected-filled-square-X {
  background-color: hsl(252, 48%, 50%);
}

.selected-filled-square-Y {
  background-color: hsl(177, 40%, 80%)
}
.unselected-filled-square-Y {
  background-color: hsl(177, 40%, 50%)
}

.selected-filled-square-Z {
  background-color: hsl(273, 20%, 80%);
}

.unselected-filled-square-Z {
  background-color: hsl(273, 20%, 50%);
}

.empty-square {
  border: none;
  background-color: hsl(0, 0%, 95%);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: hsl(0, 0%, 95%);
}

.bottom-container, .top-container {
  display: flex;
}

.top-container {
  border: none;
  background-image: linear-gradient(to right, hsl(282, 20%, 25%),white,white,white,white,white,hsl(282, 20%, 25%));
}

[class*="button"] {
  text-align: center;
  border: outset;
  background-color: hsl(282, 20%, 25%);
  color: white;
}

[class*="button-info"] {
  display: inline-block;
}

[class*="word-score"] {
  border: inset;
  text-align: center;
  background-color: white;
}

.word-score-display-clickable {
  border: outset;
  background-color: hsl(282, 20%, 25%);
  color: white;
}

[class*="popup"] {
  position: absolute;
  background-color: white;
  left: 0;
  border: outset;
}

[class*="hidden"] {
  display: none;
}

[class*="visible"] {
  display: block;
}

.game-over-popup-visible {
  animation-name: wipe-enter;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.info-center {
  text-align: center;
}

ul {
  list-style-position: inside;
}

@media screen and (orientation: landscape) {
  [class*="square"] {
    border-radius: 1vh;
    height: 5vh;
    width: 5vh;
    font-size: 3vh;
  }

  .grid-container {
    margin: auto;
    width: 50vh;
    height: 75vh;
  }

  .word-score-display, .word-score-display-clickable {
    height: 5vh;
    width: 35vh;
    font-size: 3vh;
  }

  .bottom-container, .top-container {
    margin: auto;
    width: 50vh;
  }

  .bottom-container {
    border-radius: 1vh;
  }

  [class*="button"] {
    height: 5vh;
    width: 7.5vh;
    line-height: 5vh;
    font-size: 1.7vh;
  }

  [class*="game-over-popup"] {
    width: 45vh;
    height: 22.5vh;
    font-size: 2vh;
    border-radius: 1vh;
    top: auto;
    left: auto;
    padding: 2vh;
  }

  .game-over-ok-button {
    margin-top: 2vh;
    border-radius: 1vh;
  }

  .instructions, .stats {
    width: 7.5vh;
    height: 5vh;
  }

  .lettris-name {
    width: 35vh;
    height: 5vh;
    line-height: 5vh;
  }

  [class*="inst-popup"] {
    padding: 2vh;
    margin: 2vh;
    width: 45vh;
    height: 68vh;
    font-size: 2vh;
    border-radius: 1vh;
    top: auto;
    left: auto;
  }

  [class*="stat-popup"] {
    padding: 2vh;
    margin: 2vh;
    width: 45vh;
    height: 15vh;
    font-size: 2vh;
    border-radius: 1vh;
    top: auto;
    left: auto;
  }
}

@media screen and (orientation: portrait) {  
  [class*="square"] {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2vw;
    height: 6.67%;
    width: 10%;
    font-size: larger;
  }

  [class*="alphabet-info"] {
    border-radius: 2vw;
    height: 6.67%;
    line-height: 170%;
    width: 10%;
    font-size: larger;
  }

  .grid-container {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 88%;
  }

  [class*="word-score"] {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    font-size: larger;
  }

  .bottom-container, .top-container {
    position: absolute;
    width: 100%;
    height: 6%;
  }

  .top-container {
    top: 0;
  }

  .bottom-container {
    bottom: 0;
    background-image: linear-gradient(to right, hsl(282, 20%, 25%),white,white,white,white,white,hsl(282, 20%, 25%));
  }

  [class*="button"] {
    height: 100%;
    width: 15vw;
    font-size: small;
  }

  [class*="button-info"] {
    height: 8vw;
    width: 15vw;
  }

  [class*="game-over-popup"] {
    padding: 5%;
    width: 90%;
    height: 30%;
    font-size: large;
    border-radius: 2%;
    top: 10%;
    left: 5%;
  }

  .game-over-ok-button {
    height: 20%;
    top: 5%;
    border-radius: 2vw;
    font-size: medium;
  }

  [class*="inst-popup"] {
    position: absolute;
    padding-top: 3%;
    width: 90%;
    height: 85%;
    font-size: medium;
    border-radius: 2vw;
    top: 5%;
    left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: scroll;
  }

  [class*="stat-popup"] {
    padding-top: 2%;
    width: 90%;
    height: 25%;
    font-size: large;
    border-radius: 2%;
    top: 20%;
    left: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .instructions, .stats {
    width: 15%;
    height: 5.5%;
  }

  .instructions {
    padding: 2%;
  }

  .lettris-name {
    width: 70%;
  }
}

